/* base styles, feel free to edit */
html,
body {
  /* margin: 0;
    padding: 0; */
  background-color: #fafafa;
  height: 100%;
  font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  overflow: hidden;
}

.page-auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-auth form {
  max-width: 330px;
  flex-basis: 330px;
}

#page-register {
  display: none;
}

.alert {
  display: none;
}

#navbar {
  display: none;
}

#sidebar-main-page {
  display: none;
  height: calc(100vh - 56px);
}

main {
  width: 100vw;
  overflow: hidden;
  display: flex;
}

#channel-unjoined {
  display: none;
  width: 100vw;
  height: calc(100vh - 56px);
}

#channel-unjoined-card {
  width: 99%;
  height: 99%;
}

.navbar-brand:hover {
  cursor: pointer;
}

#sidebar-main-page {
  width: 100vw;
  display: none;
}

#channel,
#profile {
  display: none;
  width: 100vw;
}

#channel-list {
  overflow: scroll;
}

#channel-card {
  width: 100vw;
}

#message-box {
  height: 85%;
  margin-bottom: 0.75rem;
}

#input-container {
  height: 7%;
}

.user-name-message,
.edit-message,
.delete-message {
  font-size: 14px;
}

#channel {
  height: calc(100vh - 60px);
}

#channel-card {
  height: 99%;
}

#all-messages {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 78vh;
}

#all-messages {
  overflow: scroll;
}

.user-name-message,
.avatar-message {
  margin-right: 0.75rem;
  cursor: pointer;
}

.edit-message,
.delete-message,
.smile-react,
.normal-react,
.cry-react,
.pin {
  margin-right: 0.5rem;
  cursor: pointer;
}

.smile-react,
.normal-react,
.cry-react,
.pin {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  border-radius: 5px;
  border: 0;
  background-color: #0d6efd;
}

.user-name-message,
.text-message,
.time-message,
.sent-at-title,
.sent-at-message,
.edited-at-title,
.edited-at-message {
  margin-bottom: 0;
}

.sent-at-title,
.sent-at-message,
.edited-at-title,
.edited-at-message {
  display: inline-block;
  font-size: 12px;
}

#single-message {
  display: none;
}

#text-input-message,
#image-input-message,
#send-button-message {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

#loading-container {
  display: none;
}

#loading-message {
  font-size: 14px;
}

#profile {
  display: none;
  height: calc(100vh - 56px);
  width: calc(100vw);
}

#profile-card {
  width: 600px;
}

@media (max-width: 600px) {
  #profile-card {
    width: 90vw;
  }
}

.channel-btn {
  margin: 2px 0;
}

#message-input-container {
  height: calc(100% - 78px);
}
