
/* base styles, feel free to edit */
html, body {
    /* margin: 0;
    padding: 0; */
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-auth {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-auth form {
	max-width: 330px;
	flex-basis: 330px;
}

#page-register {
	display: none;
}

.alert {
	display: none;
}

#navbar {
	display: none;
}

#sidebar-main-page {
	display: none;
	height: calc(100vh - 56px);
}

#channel-list {
	overflow: scroll;
}

#channel-card {
	display: none;
	width: calc(100vw - 380px);
}

main {
	width: 100vw;
}